
                                <div class="form-group row">
                                    <div class="col-md-1">
                                        <label for="example-text-input"
                                               class="col-form-label">{{ m_form.customer.label }}</label>
                                    </div>
                                    <div class="col-md-5">
                                        {{ m_form.customer }}
                                    </div>
                                    <div class="col-md-1">
                                        <label for="example-text-input"
                                               class="col-form-label">{{ m_form.date.label }}</label>
                                    </div>
                                    <div class="col-md-5">
                                        {{ m_form.date }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-1">
                                        <label for="example-text-input"
                                               class="col-form-label">{{ m_form.desc.label }}</label>
                                    </div>
                                    <div class="col-md-11">
                                        {{ m_form.desc }}
                                    </div>
                                </div>
                                <hr>
                                {{ d_form.management_form }}
                                {% for form in d_form %}
                                    <div class="form-group row">
                                        <div class="col-md-1 form-control">
                                            1
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.product }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.desc }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.qty }}
                                        </div>
                                        <div class="col-md-1">
                                            <a href="#" class="btn btn-dark"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group row">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </div>